<form id="new-task" (submit)="addNewTask()">
    <input #newTask placeholder="Task" type="text" name="" id="task-input" autocomplete="off">
    <button id="new-task-btn" type="submit">Add</button>
</form>

<div id="todolist-wrapper">
    <div id="todolist-items" *ngIf="list.length !== 0">
        <p class="todolist-task" *ngFor="let task of list">
            <label class="todolist-task-checkbox">
                <input type="checkbox" [checked]="task.done" name="Done" (change)="checkboxClicked($event, task.id)">
                <span class="checkmark"></span>
            </label>

            <button class="todolist-delete-btn" (click)="deleteTask(task.id)"></button>

            <span [class.task-done]="task.done">{{task.value}}</span>
        </p>
    </div>
</div>
