/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
}

:root {
    --navbar-height: 60px;

    /* Flat UI */
    --strength-color: #1abc9c;
    --intelligence-color: #e74c3c;
    --wisdom-color: #9b59b6;
}